[package]
name = "opts_derive"
version = "0.1.0"
edition = "2024"

[dependencies]
syn = "2.0"
quote = "1.0"
proc-macro2 = "1.0"

[lib]
proc-macro = true

[dev-dependencies]
parser = { path = "../parser" }
args_derive = { path = "../args_derive" }
